@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

.container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.498);
    left: 0;
    top: 0;
    width: 100%;
    height: 30em;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: .3em;
    font-size: 9rem;
    font-family: 'Yeseva One', serif;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: #ffffff 2px;
}
.bg{
    position: absolute;
    width: 100%;
    height: 30em;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    border-bottom: rgb(46, 19, 0) 50px solid;
}
.stbranch1{
}
.stbranch{
    position: absolute;
    width: 50em;
    height: 30em;
    top: 33.1em;
    left: 0em;
    object-fit: cover;
}
.strosa{
    position: absolute;
    top: 10.5em;
    left: 17.5em;
    font-size: 3em;
    font-family: 'IBM Plex Serif', serif;
    width: 350px;
    color: #B07018;
}
.staddress{
    position: absolute;
    top: 21.5em;
    left: 27.5em;
    font-size: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
}
a{
    text-decoration: none;
}
.stBranch2{
    position: absolute;
    width: 100%;
    height:30em;
    top: 62em;
    left: 0;
    background-color: #B07018;
}
.stbranch2img{
    position: absolute;
    width: 50em;
    height: 30em;
    top: 0em;
    right: 0;
    object-fit: cover;
}
.strosa2{
    margin: 15px 30px;
    font-size: 3em;
    font-family: 'IBM Plex Serif', serif;
    width: 350px;
    color: #ffffff;
}
.staddress2{
    color: white;
    margin: 35px 70px;
    font-size: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
}
.batino{
    position: absolute;
    width: 100%;
    height:30em;
    top: 89.5em;
    left: 0;
    background-color: rgb(46, 19, 0);
}
.batinoimg{
    width: 50em;
    height: 30em;
    top: 33.1em;
    left: 0em;
    object-fit: cover;
}
.batino-Title{
    position: absolute;
    margin-top: 15px;
    top: 0;
    left: 44%;
    font-size: 3em;
    font-family: 'IBM Plex Serif', serif;
    width: 350px;
    color: #ffffff;
}
.batino-p{
    position: absolute;
    top: 3em;
    left: 26em;
    color: white;
    margin: 35px 70px;
    font-size: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
}
.silang{
    position: absolute;
    width: 100%;
    height:30em;
    top: 119em;
    left: 0;
    background-color: rgb(255, 255, 255);
}
.silangimg{
    position: absolute;
    width: 50em;
    height: 30em;
    top: 0em;
    right: 0;
    object-fit: cover;
}
.silang-Title{
    margin: 15px 30px;
    font-size: 3em;
    font-family: 'IBM Plex Serif', serif;
    width: 350px;
    color: #B07018;
}
.silang-p{
    color: #B07018;
    margin: 35px 70px;
    font-size: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
}
.makiling{
    position: absolute;
    width: 100%;
    height:30em;
    top: 149em;
    left: 0;
    background-color: #B07018;
}
.makilingimg{
    width: 50em;
    height: 30em;
    top: 33.1em;
    left: 0em;
    object-fit: cover;
}
.makiling-Title{
    position: absolute;
    margin-top: 15px;
    top: 0;
    left: 44%;
    font-size: 3em;
    font-family: 'IBM Plex Serif', serif;
    width: 350px;
    color: #ffffff;
}
.makiling-p{
    position: absolute;
    top: 5em;
    left: 26em;
    color: white;
    margin: 35px 70px;
    font-size: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
}
.footer-Branch{
    position: absolute;
    min-width: 100%;
    right: 0;
    top: 2850px;
    color: white;
    text-align: center;
    background-color: #765e4c;
    padding: 20px;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    }

.revealed {
        opacity: 1;
    }